* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 35rem;
    height: 35rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(0,0,0,0.2) 0px 60px 40px -7px;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
}

.numbers {
    width: inherit;
    height: inherit;
    position: relative;
}

.numbers div {
    position: absolute;
    font-size: 2.5rem;
    color: #FFF;
}

.twelve {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.six {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.nine {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.arrows {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    z-index: 10;
}

.arrows div {
    width: 0.7rem;
    height: 12rem;
    background-color: #F7F7F7;
    position: absolute;
    bottom: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    border-radius: 100% 100% 0 0;
    transform-origin: bottom center;
}

.arrows .hour {
    height: 10rem;
    /* transform: rotate(90deg); */ /* p/ ajustes */
}

.arrows .second {
    background-color: #EB6160;
    height: 10rem;
    /* transform: rotate(270deg); */ /* p/ ajustes */
}

/* Responsividade */
@media (max-width: 768px) {
    .clock {
        width: 25rem;
        height: 25rem;
    }

    .arrows div {
        height: 10rem;
    }

    .arrows .hour {
        height: 9rem;
    }

    .arrows .second {
        height: 9rem;
    }
}

@media (max-width: 425px) {
    .clock {
        width: 20rem;
        height: 20rem;
    }

    .arrows div {
        height: 6rem;
    }

    .arrows .hour {
        height: 5rem;
    }

    .arrows .second {
        height: 5rem;
    }
}