@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #303E55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Etiqueta A3-5 */
.label {
    width: 11rem;
    height: 4rem;
    border-radius: 2%;
    background: rgb(190, 190, 190);
    margin-bottom: 2.5rem;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        rgba(0,0,0,0.25) 0 -5px 5px 1px,
        rgba(0,0,0,0.25) 0 5px 5px 1px,
        rgba(30,50,90,0.3) 0 -5px 5px 2px,
        inset 0 0.25rem 0.125rem rgba(255, 255, 255, 0.2);

}

/* Envolucro do Vidro e do Botão */
.button-wrap {
    position: relative;
}


/* Vidro do Botão */
.cover-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
        8px 8px 5px rgba(0,0,0,0.3),
        0px 5px 6px 4px rgba(29,50,90,0.3),
        inset 5px -5px 0px 5px rgba(200,200,200,0.15),
        inset -2px -2px 0px 5px rgba(195,195,195,0.15);
    z-index: 3;
    border-radius: 5%;
    cursor: pointer;
}

.cover-wrap.active {
    width: 30%;
    left: -30%;
    overflow: hidden;
    box-shadow: 
        15px 15px 6px rgba(0,0,0,0.5),
        0px 5px 6px 4px rgba(29,50,90,0.3),
        inset 5px -5px 0px 5px rgba(200,200,200,0.15),
        inset -2px -2px 0px 5px rgba(195,195,195,0.15),
        inset 0px -65px 5px 7px rgba(0,0,0,0.2),
        inset 0px 65px 5px 7px rgba(0,0,0,0,0.2);
}

.glass-wrap {
    width: 16rem;
    height: 13.5rem;
    border-radius: 5%;
    overflow: hidden;
}

.glass {
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    background: rgba(180, 180, 180, 0.3);
    filter: blur(10px);
}

/* Dobradiça e Parafusos */
.hinge {
    width: 1.5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    background: radial-gradient(rgb(112, 112, 112), rgb(139,139,139));
    box-shadow: 
        0px 5px 5px rgba(0,0,0,0.1),
        0px 5px 5px 5px rgba(29,50,90,0.3),
        inset rgba(44,44,44,0.25) -1px -1px 1px 1px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bolt {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: radial-gradient(rgb(120,120,120), rgb(80,80,80));
    margin: 10px 0 10px 0;
    box-shadow:
        0px 0px 1px rgba(0, 0, 0, 1),
        inset rgba(200, 200, 200, 0.45) 5px 0px 5px 5px;
    z-index: 2;
}


/* Contorno do Botão */
.frame {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color: rgb(27,27,27);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        rgba(0,0,0,0.15) 0 -5px 5px 3px,
        rgba(0,0,0,0.15) 0 -5px 5px 3px,
        rgba(30,50,90,0.3) 0 5px 6px 4px,
        inset 0 0.25rem 0.15rem rgba(138, 138,138, 0.2);
}

/* Contorno do Botão */
.inner-frame {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgb(0,0,0);
    box-shadow: inset 0 0.25rem 0.15rem rgba(199, 199, 199, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Botão Vermelho */
.button {
    width: 9.2em;
    height: 9.2em;
    border-radius: 50%;
    background-image:
        -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0)100%),
        -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
        -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
        -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(44, 0, 0, 0) 0%, rgba(44, 0, 0, 0) 3%, rgba(44, 0, 0, 0) 3.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 30, 30, 0) 0%, rgba(255, 30, 30, 0) 6%, rgba(255, 30, 30, 0.1) 7.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(210, 25, 25, 0) 0%, rgba(210, 25, 25, 0) 1.2%, rgba(210, 25, 25, 0.2) 2.2%),
        -webkit-radial-gradient(50% 50%, 200% 50%, rgb(130, 10, 10) 5%, rgb(123, 10, 10) 30%, rgb(170, 17, 17) 100%);
    box-shadow: inset 0 0.25rem 0.3rem rgb(153, 76, 76);
}

/* Efeito com Botão Ativo */
.button:active {
    width: 9rem;
    height: 9rem;
    filter: brightness(97%);
    transform: rotate(0.5deg);
    box-shadow:
        inset rgba(61, 0, 0, 0.7) 0 2px 2px 2px,
        inset rgba(61, 0, 0, 0.15) 0 2px 2px 5px;
}