@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;    
}

.header {
    text-align: center;
    color: #FFF;
    font-size: 2em;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .header {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .header {
        font-size: 1em;
    }
}