@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    --light: #F7F7F7;
    --dark: #292B2C;
    --black: #000;
    --primary: #0275D8;
}

/* BEGIN HEADER */
.header-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#000, #292B2C);
    background-image: url("./images/background-image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container h1 {
    color: #F7F7F7;
    letter-spacing: 3px;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.header-container p {
    color: #F7F7F7;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.header-container button {
    background-color: #292b2ccf;
    color: var(--light);
    border: 1px solid #f7f7f77c;
    border-radius: 5px;
    font-size: 25px;
    margin: 50px 0;
    padding: 15px 25px;
    cursor: pointer;
}

.header-container button:hover {
    background-color: var(--light);
    color: var(--dark);
}

/* END-HEADER */

/* BEGIN MAIN*/
.sec-one {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
}

.sec-one h2 {
    margin: 25px;
}

.sec-one div {
    display: flex;
    margin: 25px;
}

.sec-one p {
    line-height: 25px;
}

.sec-two {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
}

.card {
    width: 300px;
    height: 100%;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card h3 {
    margin: 25px 5px;
}

.card p {
    margin: 25px 5px;
}

.sec-three {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
}

.sec-three h2 {
    margin: 25px;
}

.sec-three p {
    line-height: 25px;
}

/* END MAIN */

/* BEGIN FOOTER */
.footer-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-content-one {
    display: flex;
}

.footer-content-one div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content-one div:first-child {
    background-color: var(--primary);
    color: var(--light);
}

.footer-content-one div:last-child {
    background-color: var(--dark);
    color: var(--light);
}

.footer-content-one h3 {
    margin: 25px 0;
    font-size: 25px;
}

.footer-content-one p {
    margin: 25px 10px;
    font-size: 18px;
}

.footer-content-one span {
    margin-bottom: 25px;
    font-size: 18px;
    cursor: pointer;
}

.footer-content-two {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    background-color: var(--black);
    color: var(--light);
}

.footer-content-two a {
    text-decoration: none;
    color: var(--primary);
}
/* END FOOTER */


@media (max-width: 705px) {
    .sec-two {
        flex-direction: column;
    }

    .card {
        width: 500px;
    }

    .sec-three p {
        height: 100%;
    }

    .footer-content-one {
        flex-direction: column;
    }

    .footer-content-one div {
        width: 100vw;
        height: 100%;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}