.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}

span {
    margin: 12px 0;
}

.area-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-input input {
    width: 100%;
    height: 46px;
    margin-bottom: 12px;
    background-color: #121212;
    border: 0;
    border-radius: 6px;
    color: #FFF;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
}

.area-input button {
    width: 100%;
    height: 46px;
    border: 0;
    border-radius: 6px;
    background-color: #357AFF;
    color: #FFF;
    font-size: 18px;
}

h2 {
    margin-top: 28px;
}