@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#007BB2, #0D1423);
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card .poster {
    position: relative;
    overflow: hidden;
}

.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064A6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before {
    bottom: 0px;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.card .details {
    position: absolute;
    bottom: -175px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.card:hover .details {
    bottom: 0px;
}

.card .details .logo {
    max-width: 180px;
}

.card .details h3 {
    font-size: 0.8em;
    color: #FFF;
}

.card .details .rating {
    position: relative;
    padding: 5px 0;
}

.card .details .rating .fa-star {
    color: #F7F406;
    font-size: 1em;
}

.card .details .rating span {
    color: #FFF;
    margin-left: 5px;
}

.card .details .tags {
    position: relative;
    margin-top: 5px;
}

.card .details .tags span {
    padding: 2px 5px;
    color: #FFF;
    background: #03A8F5;
    border-radius: 4px;
}

.card .details .tags span:nth-child(2) {
    background: #FF5722;
}

.card .details .info {
    color: #FFF;
    margin-top: 20px;
}

.card .details .cast {
    position: relative;
}

.card .details .cast h4 {
    color: #FFF;
    margin-top: 10px;
}

.card .details .cast ul {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.card .details .cast ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: 0.5s;
}

.card .details .cast ul li:hover {
    scale: 1.5;
}

.card .details .cast ul li img {
    max-width: 100%;
}



