@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navigation {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 250px;
    height: 50px;
    background: #2196F3;
    transition: 0.5s;
    z-index: 1; /* alterar se necesário */
    overflow: hidden;
}

.navigation.active {
    height: 350px;
}

.navigation .toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #2196F3;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
}

.navigation .toggle::before {
    content: 'Menu';
    margin-right: 10px;
}

.navigation .toggle.active::before {
    content: 'Close';
    margin-right: 10px;
}

.navigation .toggle span {
    position: relative;
    width: 20px;
    height: 50px;
}

.navigation .toggle span::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: 0.5s;
}

.navigation .toggle span::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: 0.5s;
}

.navigation .toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
}

.navigation .toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
}

.navigation ul {
    position: relative;
    background: #111;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    color: #FFF;
    font-size: 18px;
    transition: 1s;
}

.navigation ul li a:hover {
    transition: 0s;
    background: #2196F3;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3F2FD;
}

section h2 {
    font-size: 12vw;
    color: rgb(33, 150, 243, 0.3);
}